<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>乐在购物管理员后台-系统配置</title>
    <link th:include="common/common_adm :: #com_css">
</head>
<body class="sticky-header adm-sysConfig loading">
<section>
    <!--左部标签栏-->
    <div th:replace="common/common_adm :: #com_leftmenu"></div>
    <div class="main-content">
        <!--顶部导航栏-->
        <div th:replace="common/common_adm :: #com_headermenu"></div>
        <div class="top"></div>
        <!--主体内容-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            聊天服务配置
                            <span class="tools pull-right">
                                <button class="btn btn-primary" onclick="ref()" title="点击刷新数据">&nbsp;刷新</button>
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-search" id="btn_new"><i class="fa fa-plus"></i>&nbsp;新增</button>
                            <button class="btn btn-success" id="btn_excel"><i class="fa fa-download"></i>&nbsp;导出为Excel</button>
                            <div class="adv-table editable-table chat_tbody">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom"></div>
        <div th:replace="common/common_adm :: #com_footer"></div>
    </div>
</section>
<div th:replace="common/common_adm :: #com_js"></div>
<script src="/static/my_js/adm/sysConfig.js"></script>
<!--表格-->
<script type="text/javascript" src="/static/js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/data-tables/DT_bootstrap.js"></script>
<script src="/static/js/editable-table.js"></script>
<script>
    jQuery(document).ready(function() {
        ref();
        document.body.classList.remove('loading');
    });
</script>
</body>
</html>